/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.first p {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 1.5;
}

/* Done */

.hero-section {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.info-intern {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-model-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0%;
    vertical-align: bottom;
    max-width: 100%;
}


.hero-text-box {
    position: absolute;
    top: 10%;
    left: 5%;
    max-width: 600px;
    z-index: 10;
}
.hero-text-box h1 {
    font-family:"lilita one" ;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.0;
    margin-bottom: 20px;
    margin-top: 50px;
}

.hero-text-box p {
    font-family:"ubuntu" ;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 60px;    
}

.button-shop-now {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 62px;
    padding: 16px 54px;
    display: inline-block;
    margin-top: 40px;
}

.button-shop-now:hover {
    transform: scale(1.1);
}

.stats-container {
    display: flex;
    gap: 32px;
    margin-top: 150px;
}

.stats-container .Items .number {
    font-family: "lilita one";
    font-size: 40px;
    font-weight: 400; 
}

.stats-container .Items .label {
    font-family: "ubuntu";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.6);
}

/* Done */

.main-header-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
}

.primary-nav {
    display: flex;
    align-items: center;
    gap:  40px;
    color: black;
}

.primary-nav h1 {
    font-family: "lilita one";
    font-weight: 400;
    font-style: regular;
    font-size: 33.45px;
    line-height: 100%;
    vertical-align: middle;
}

.main-menu {
    display: flex;
    gap: 24px;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.main-menu li {
    position: relative;
}

.main-menu li a {
    text-decoration: none;
    color: black;
}

.submenu {
    display: none; /* oculta el menu*/
    position: absolute; 
    top: 100%; /*lo posiciona justo debajo de shop*/
    left: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    padding: 10px 0;
    z-index: 1000;
    list-style-type: none;
    color: black;
}

.submenu li{
    width: 100%;
    color: black;
    text-decoration: none;
}

.submenu li a {
    padding:  10px 20px;
    display:  block;
    color:  #000;
    font-size: 14px;
    transition: backgroun-color #f5f5f5;
    color: black;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}

.main-menu li:hover .submenu {
    display: block;
}
/* 1. Contenedor de la derecha (Buscador + Carrito + Usuario) */
.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
}
/* 2. El Formulario (La barra gris con forma de píldora) */
.search-form {
    display: flex;
    flex-direction: row; 
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 50px;
    padding: 8px 15px;
    width: 100%;
    max-width: 548px;
}

.search-form input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    color: #666;
}

.btn-lupa {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    padding: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.user-actions a i {
    font-size: 20px;
    color: #000;
    transition: transform 0.2s;
}

.user-actions a i:hover {
    transform: scale(1.1);
}

.marcas {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 1%;
    flex-wrap: wrap;
    gap: 100px;
}

.marcas img {
    height: 35px;
    width: auto;
    transition: transform 0.3s;
    opacity: 1;
    max-width: 100%;
}

.marcas img:hover {
    transform: scale(1.1);
}

/*Done*/

main h2 {
    font-family: "lilita One", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-style: regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 80px;
    margin-bottom: 60px;
}

.Newarrivals, .topselling {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 15px;
    padding: 0 10%;
    margin-bottom: 20px;
}

.Newarrivals > div, .topselling > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Newarrivals img, .topselling img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /*hace que todas las imagenes sean cuadradas*/
    object-fit: contain;
    padding: 2px;
    transition: 0.3s;
    max-width: 100%;
}

.Newarrivals img:hover, .topselling img:hover {
    transform: scale(1.1);
    border-color: #666;
    box-shadow: 0 0 15px 5px #666;
    max-width: 100%;
}

.rating-icons, .Newarrivals div div, .topselling div div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

h3 {
    font-family: Lilita One;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

h4 {
    font-family: Lilita One;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

del {
    color:rgba(0, 0, 0, 0.4);
    font-size: 24px;
}

h5 {
    background-color: rgba(255, 51, 51, 0.1);
    color:  rgba(255, 51, 51, 1);
    padding: 6px 14px;
    border-radius: 62px; 
    font-size: 12px;
    margin:  0;
}

.btn-viewallnewa, .btn-viewalltop {
    grid-column: 1 / -1; /* Ocupa las 4 columnas para poder centrarse */
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 12px 80px;
    border: 1px solid #E0E0E0;
    border-radius: 62px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}
.btn-viewallnewa:hover, .btn-viewalltop:hover {
    transform: scale(1.1);
}
.separator {
    border: 0;
    border-top: 1px solid#E0E0E0;
    margin: 40px 10%;
    opacity: 0.5;
}

/*done*/

.browse {
    background-color: rgba(240, 240, 240, 1);
    border-radius: 40px;
    margin: 50px 5%;
    padding: 70px 64px;
    gap: 20px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;    
}

.browse h2 {
    text-align: center;
    font-family: "lilita One", sans-serif;
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 0;
}

.box-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}
/*done*/

.testinominals {
    padding: 80px 0;
    overflow: hidden;
    position: relative;
}

.testinominals::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    pointer-events: none;
    z-index: 2;
}

.testimonials-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5%;
    margin-bottom: 40px;
}
.testimonials-container {
    display: flex;
    gap: 20px;
    padding: 0 5%;

    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Hace que las cajas "encajen" al deslizar */
    scrollbar-width: none;
}

.testimonials-container::-webkit-scrollbar {
    display: none;
}

.testimonials-container > div {
    flex: 0 0 30%;
    min-width: 300px;
    scroll-snap-align: center;

    border: 1px solid #E0E0E0;
    border-radius: 20px;
    padding: 28px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.testimonials-container h3 {
    font-family: "Lilita One", sans-serif; /* O la que uses */
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.testimonials-container p {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    margin: 0;
}

/*pending arrow bottons style*/

.uptodate {
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    
}

.uptodate h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0%;
}
.uptodate form {

    justify-content: flex-end;
}

.get-email {
    display: flex;
    flex-direction: row; 
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    padding: 8px 15px;
    width: 100%;
    max-width: 548px;
}

.btn-carts {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    padding: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.subscribe-news {
    display: flex;
    flex-direction: row; 
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    padding: 8px 15px;
}

@media (max-width: 768px) {
    .Newarrivals, .topselling {
        /* Pasamos de 4 columnas a 2 */
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%; /* Menos margen lateral en móvil */
        gap: 10px;
    }

    main h2 {
        font-size: 32px; /* Título más pequeño para que no ocupe toda la pantalla */
        margin-top: 50px;
    }

    .btn-viewallnewa, .btn-viewalltop {
        width: 90%; /* Botón casi a todo lo ancho */
        padding: 12px 0;
    }
}

@media (max-width: 768px) {
    .browse-container {
        padding: 40px 24px;
    }

    .browse-grid {
        /* Todo a 1 sola columna */
        grid-template-columns: 1fr; 
    }

    .browse-grid div {
        /* Todas las tarjetas ocupan el mismo ancho */
        grid-column: span 1 !important; 
        height: 190px; /* Reducimos la altura para que no sea eterno el scroll */
    }
}

@media (max-width: 768px) {
    .testimonials-container > div {
        /* 85% permite que la tarjeta sea casi toda la pantalla */
        flex: 0 0 85%; 
    }

    .testinominals h2 {
        font-size: 30px;
        text-align: left; /* Generalmente se alinea a la izquierda en móvil */
    }
}
